<div class="card mt-3">
    <div class="card-header">List of Files</div>
    <div class="col-4">
      <button class="btn btn-success btn-sm custom-margin" (click)="ngOnInit()">
        Load files
      </button>
      <button class="btn btn-success btn-sm" (click)="goToFileUploadPage()">
        Return to File Upload
      </button>
    </div>
    <ul class="image-grid">
      @for (file of fileInfos | async; track file) {
      <li class="image-item">
        <img  class="images" src={{file}}/> 
      </li>
      }
    </ul>
</div>