<div *ngIf="message">
    <h2>{{ message }}</h2>
  </div>
  
  <div>
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <table>
        <tr>
          <td>File to upload:</td>
          <td><input type="file" (change)="onFileChange($event)" /></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Upload</button></td>
        </tr>
      </table>
    </form>
  </div>
  
  <div>
    <ul>
      <li *ngFor="let file of files">
        <a [href]="file" target="_blank">{{ file }}</a>
      </li>
    </ul>
  </div>
