<div>
    <h3>Modificar Obra</h3>
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
    <div>
        <label for ="login" class="form-label">Nombre de la Obra</label>
        <input [(ngModel)]="modifyConstructionSiteRequest.name" type="name" class="form-control" id="login" placeholder="CS1">
    </div>
    <div>
        <label for ="number" class="form-label">Número de Trabajadores</label>
        <input [(ngModel)]="modifyConstructionSiteRequest.numOfWorkers" type="number" class="form-control" id="login" placeholder="1" value="1">
    </div>
    <div>
        <button type="button" class="btn btn-success" (click)="modify()">
            Aplicar Cambios
        </button>
        <button type="button" class="btn btn-danger" (click)="cancel()">
            Cancelar
        </button>
    </div>
</div>
