.form-header {
    margin-left: 15px;
    max-width: 400px;
}

.form-alert {
    padding-left: 10px;
    max-width: 750px;
}

.form-group {
    padding: 10px;
    max-width: 400px;
}

.form-actions {
    padding: 10px;
    max-width: 400px;
}

.form-register {
    padding: 10px;
    max-width: 400px;
}