<div>
  <h3>Obras</h3>
  <hr>
  <button type="button" class="btn btn-primary" (click)="add()">
      Añadir Obra
  </button>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let site of constructionSites">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Obra: {{ site.name }}</h5>
          <p class="card-text">
            <strong>ID:</strong> {{ site.id }}<br>
            <strong>Número de Trabajadores:</strong> {{ site.numOfWorkers }}
          </p>
          <button type="button" class="btn btn-success" (click)="viewDetails(site.id)">
            Ver Detalles/Subir
          </button>
          <button type="button" class="btn btn-primary" (click)="modify(site.id)">
            Modificar
          </button>
          <button type="button" class="btn btn-danger" (click)="delete(site.id)">
            Borrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>