<div class="cs-details">
    <h2>CS Details</h2>
    <div class="alert alert-warning" role="alert" *ngIf="csDetails.restrictionsViolated.length">
      <p *ngFor="let msg of csDetails.restrictionsViolated">{{ msg }}</p>
    </div>
    <button type="button" class="btn btn-primary" (click)="addRestriction()">
      Add Restriction
    </button>
    <button type="button" class="btn btn-danger" (click)="goBack()">
      Go back
    </button>
    <table>
      <thead>
        <tr>
          <th>Component</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Transformers</td>
          <td>{{ csDetails.numberOfTransformers }}</td>
        </tr>
        <tr>
          <td>Number of Expansion Tanks</td>
          <td>{{ csDetails.numberOfExpansionTanks }}</td>
        </tr>
        <tr>
          <td>Number of Radiators</td>
          <td>{{ csDetails.numberOfRadiators }}</td>
        </tr>
        <tr>
          <td>Number of Connection Points</td>
          <td>{{ csDetails.numberOfConnectionPoints }}</td>
        </tr>
        <tr>
          <td>Number of Firewalls</td>
          <td>{{ csDetails.numberOfFirewalls }}</td>
        </tr>
        <tr>
          <td>Last Day Uploaded</td>
          <td>{{ csDetails.lastDayUploaded | date: 'short' }}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event)" accept=".jpg,.jpeg,.png,.webp"/>
    </label>
  </div>

  <div class="col-4">
    <button class="btn btn-success btn-sm" [disabled]="hasUploadedToday() || !currentFile" (click)="upload()">
      Upload
    </button>
  </div>
</div>

@if (message) {
<div class="alert alert-secondary" role="alert">{{ message }}</div>
}
