<div class="form-header">
    <h3>Añadir Obra</h3>
</div>
<hr>
<div class="form-alert">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
</div>

<div class="form-group">
    <label for="name" class="form-label">Nombre de la Obra</label>
    <input [(ngModel)]="newConstructionSiteRequest.name" type="text" class="form-control" id="name" placeholder="CS1">
</div>

<div class="form-group">
    <label for="numOfWorkers" class="form-label">Número de Trabajadores</label>
    <input [(ngModel)]="newConstructionSiteRequest.numOfWorkers" type="number" class="form-control" id="numOfWorkers" placeholder="1" value="1">
</div>

<div class="form-actions">
    <button type="button" class="btn btn-primary" (click)="add()">
        Enviar
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">
        Cancelar
    </button>
</div>
