<h3>Add Restriction</h3>
<hr>
<div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
</div>
<form (ngSubmit)="onSubmit()">

    <div>
        <label for="transformers" class="form-label">Transformers</label>
        <input [(ngModel)]="NewRestrictionRequest.transformers" type="number" min="0" class="form-control" id="transformers" name="transformers" placeholder="0">
    </div>
  
    <div>
        <label for="expansionTanks" class="form-label">Expansion Tanks</label>
        <input [(ngModel)]="NewRestrictionRequest.expansionTanks" type="number" min="0" class="form-control" id="expansionTanks" name="expansionTanks" placeholder="0">
    </div>
  
    <div>
        <label for="radiators" class="form-label">Radiators</label>
        <input [(ngModel)]="NewRestrictionRequest.radiators" type="number" min="0" class="form-control" id="radiators" name="radiators" placeholder="0">
    </div>
  
    <div>
        <label for="connectionPoints" class="form-label">Connection Points</label>
        <input [(ngModel)]="NewRestrictionRequest.connectionPoints" type="number" min="0" class="form-control" id="connectionPoints" name="connectionPoints" placeholder="0">
    </div>
  
    <div>
        <label for="firewalls" class="form-label">Firewalls</label>
        <input [(ngModel)]="NewRestrictionRequest.firewalls" type="number" min="0" class="form-control" id="firewalls" name="firewalls" placeholder="0">
    </div>
  
    <div>
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date"  class="form-control" id="startDate"  name="startDate" (change)="onStartDateChange($event)" />
    </div>
  
    <div>
        <label for="endDate" class="form-label">End Date</label>
        <input type="date"  class="form-control" id="endDate"  name="endDate" (change)="onEndDateChange($event)" />
    </div>
  
    <div>
        <label for="shouldAppear" class="form-label">Should Appear</label>
        <select [(ngModel)]="NewRestrictionRequest.shouldAppear" class="form-control" id="shouldAppear" name="shouldAppear">
          <option [value]="true">True</option>
          <option [value]="false">False</option>
        </select>
    </div>
  
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">
        Cancel
    </button>
</form>
